$sm: "min-width: 600px";
$lt-sm: "max-width: 599px";
$md: "min-width: 900px";
$lt-md: "max-width: 899px";
$lg: "min-width: 1500px";
$lt-lg: "max-width: 1499px";

@mixin breakpoint($breakpoint) {
  @media ($breakpoint) {
    @content;
  }
}
