@use "../helpers" as *;

.header {
  --header-gutter-inline: var(--main-gutter);

  @include breakpoint($md) {
    --header-gutter-inline: #{size(5)};
  }

  @include flex-display;
  @include align-items(center);

  position: relative;
  height: size(12);
  padding: 0 var(--header-gutter-inline);
  background-color: var(--c-bg);

  &__logo {
    width: size(10);

    @include breakpoint($md) {
      @include transform(translate(-50%, -50%));

      position: absolute;
      top: 50%;
      left: 50%;
    }

    @include breakpoint($lt-md) {
      margin-right: var(--header-gutter-inline);
    }
  }

  &__nav {
    @include flex-display;
    @include align-items(center);

    list-style: none;
    padding: 0;
    margin: 0;
    gap: size(6);

    @include breakpoint($lt-md) {
      display: none;
    }
  }

  &__link {
    color: currentColor;
    text-decoration: none;
    font-weight: 600;

    &:hover {
      text-decoration: underline;
    }
  }

  &__action {
    @include flex-display;
    @include align-items(center);

    list-style: none;
    padding: 0;
    margin: 0;
    margin-left: auto;
    gap: size(1.5);

    @include breakpoint($md) {
      gap: size(4);
    }
  }

  &__action-item {
    font-size: size(3);

    &--hidden-md {
      @include breakpoint($md) {
        display: none;
      }
    }
  }
}
